.modal-window {
  background: lightblue;
  width: 500px;
  height: 300px;
  border-radius: 20px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -150px;
}

.modal-container {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
}

.card-footer {
  padding: 20px;
}

.news-current {
  padding-bottom: 40px;
  border-bottom: 5px solid rgb(28, 194, 28) ;
  margin-bottom: 40px;
}